// lightMode
$mainColor: #fe1f20;
$secondaryColor: #cb1819;
$black: #000000;
$white: #ffffff;
$layer: rgba(0, 0, 0, 0.45);
$BGError: #d33131;
$formText: #3e5f74;
$fromInput: #808d8e;
$formFocus: #354a5f;

$facebook: #1877f2;
$twitter: #1da1f2;
$instagram: #e1306c;

// DarkMode

$darkBg: #282828;
$darkLogic: #222f3e;
$darkLayer: rgba(0, 0, 0, 0.7);
$darkWallPaper: #dcdde1;
$darkText: #d1ccc0;
$darkLoading: #000000;

// [data-theme="dark"] {
//     $mainColor:green;
// }
